<article class="project column text">
    <header>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <img data-src="{{cover}}" alt="{{title}}"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+P///38ACfsD/QVDRcoAAAAASUVORK5CYII=" />
        <p>
            <a rel="noreferrer noopener" target="_blank" href="{{link}}">See demo</a>
        </p>
    </header>
    {{{content}}}
</article>